<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title>Markdown example</title>
</head>
<body ng-controller="HomeCtrl">

	<demo-markdown content="mdDirective"></demo-markdown>
	<textarea ng-model="mdDirective"></textarea>

	<div ng-bind-html="mdFilter | demoMarkdownFltr"></div>
	<textarea ng-model="mdFilter"></textarea>

	<div ng-bind-html="mdService"></div>
	<small>2-way binding doesn't really work here without some work</small>

	<script src="app/libs/angular-1.2.15/angular.js"></script>
	<script src="app/libs/angular-1.2.15/angular-sanitize.js"></script>
	<script src="app/libs/markdown/MarkdownDeep.js"></script>

	<script src="app/components/markdown/markdown.mod.js"></script>
	<script src="app/components/markdown/markdown.svc.js"></script>
	<script src="app/components/markdown/markdown.fltr.js"></script>
	<script src="app/components/markdown/markdown.dir.js"></script>

	<script src="app/features/home/home.mod.js"></script>
	<script src="app/features/home/home.ctrl.js"></script>

	<script src="app/app.js"></script>
</body>
</html>